<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>imagecontroller</servlet-name>
        <servlet-class>com.crime_tracker.control.imagecontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>invest</servlet-name>
        <servlet-class>com.crime_tracker.control.invest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>miss</servlet-name>
        <servlet-class>com.crime_tracker.control.miss</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>imagecontroller</servlet-name>
        <url-pattern>/imagecontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>invest</servlet-name>
        <url-pattern>/invest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>miss</servlet-name>
        <url-pattern>/miss</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
